h3.post-title {
    font-size: 1.75rem
}

.category__item .banner {
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 20%
}

.category__item .content {
    font-size: 18px;
    padding-left: 30px;
    padding-top: 35px;
    width: 80%
}

.category__item .content .title {
    padding-right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.category__div,
.padding-div {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px
}

.category__div {
    background-color: #fff;
    border: 1px solid #e4e8ec;
    border-radius: 6px;
    box-shadow: 0 5px 12px rgba(40, 74, 117, .08);
    box-sizing: border-box;
    cursor: pointer
}

.sub-category-div {
    background: #5bc0de;
    border-radius: 50%;
    display: block;
    height: 55px;
    margin-left: 40%;
    margin-top: 12px;
    padding-top: 12px;
    width: 55px
}

@media only screen and (min-width:768px) {
    h3.post-title {
        font-size: 1.75rem
    }
    .category__item .banner,
    .category__item .content {
        width: unset
    }
}