@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap);
@charset "UTF-8";
body {
    background: #f7f8f9;
    font-weight: 400
}

.entry-meta,
.readmore-btn,
.widget-taber a.nav-link,
a.read-more,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;
    font-style: normal
}

.entry-meta,
.readmore-btn,
.widget-taber a.nav-link,
a.read-more,
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    font-weight: 700;
    margin-top: 0;
    text-transform: normal;
    vertical-align: baseline
}

.entry-meta.font-x-small {
    font-weight: 600
}

.error {
    color: red;
    font-size: 14px;
    padding-top: 5px
}

p {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    color: #262626 !important;
    font-family: Helvetica, Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;
    font-size: 1em;
    font-weight: 400;
    vertical-align: baseline
}

video {
    max-width: 100%
}

.social-login-item {
    border-radius: 11px;
    display: block;
    padding-bottom: 13px;
    padding-left: 20%;
    padding-top: 13px
}

.social-login-item i.fa-facebook-official {
    color: #3f639f
}

.social-login-item i.fa-google {
    color: #ff4b4b
}

.or-login-text {
    bottom: 4px;
    left: 42%;
    position: absolute
}

.or-login-text span {
    background-color: #fff;
    padding: 15px;
    z-index: 10
}

.login-btn-div button {
    min-width: unset
}

.login-btn-div .forgot-password {
    padding: 27px 25px
}

.login-title {
    padding-left: 20%
}

.auth-header {
    left: -40px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    width: 160% !important
}

.auth-header li {
    padding-right: 0 !important
}

.auth-header .login-header-btn,
.auth-header .register-header-btn {
    min-width: unset;
    padding: 20px 15px
}

.img {
    max-width: 100%;
    transition: all .2s ease-out 0s
}

.fix {
    overflow: hidden
}

.clear {
    clear: both
}

.button,
a {
    transition: all .2s ease-out 0s
}

.button:focus,
a:focus {
    outline: none;
    text-decoration: none
}

a {
    color: #171616
}

a:hover {
    color: #f2546a
}

.footer -menu li a:hover,
.portfolio-cat a:hover,
a:focus,
a:hover {
    text-decoration: none
}

.transition-02s,
.transition-02s:hover {
    transition: all .2s ease-out 0s
}

button:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

input:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: .4s;
    transition: .4s
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit
}

li {
    list-style: none
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0;
    margin: 30px 0;
    padding: 0
}

img {
    max-width: 100%
}

ul {
    margin: 0;
    padding: 0
}

.font-size-1rem {
    font-size: 1rem
}

.readmore-btn:hover i {
    padding-left: 6px
}

.boxed-btn {
    background: #fff;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    padding: 18px 44px;
    text-align: center;
    text-transform: uppercase
}

.boxed-btn:hover {
    border: 1px solid;
    color: #fff !important
}

.boxed-btn:focus {
    outline: none
}

.boxed-btn.large-width {
    width: 220px
}

[data-overlay] {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

[data-overlay]:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

[data-opacity="1"]:before {
    opacity: .1
}

[data-opacity="2"]:before {
    opacity: .2
}

[data-opacity="3"]:before {
    opacity: .3
}

[data-opacity="4"]:before {
    opacity: .4
}

[data-opacity="5"]:before {
    opacity: .5
}

[data-opacity="6"]:before {
    opacity: .6
}

[data-opacity="7"]:before {
    opacity: .7
}

[data-opacity="8"]:before {
    opacity: .8
}

[data-opacity="9"]:before {
    opacity: .9
}

::-moz-placeholder {
    color: #838383
}

:-ms-input-placeholder {
    color: #838383
}

::placeholder {
    color: #838383
}

.section-padding {
    padding-bottom: 120px;
    padding-top: 120px
}

.font-x-small {
    font-size: 12px !important
}

.font-small {
    font-size: 14px !important
}

.font-medium {
    font-size: 17px !important
}

.post-description,
.post-vertical-description {
    margin-bottom: 5px !important;
    padding-top: 5px
}

.font-large {
    font-size: 20px !important
}

.separator {
    border-top: 1px solid #f2f2f2
}

h5.post-title,
h5.post-vertical-title {
    font-size: 1.5rem
}

.post-verical {
    flex-basis: unset
}

.thumbnail-verical {
    padding-top: 20px
}

.post-vertical-description {
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    overflow: hidden !important
}

@media only screen and (min-width:768px) {
    h5.post-title {
        font-size: 20px !important
    }
    .font-medium {
        font-size: 16px !important;
        line-height: 1.5
    }
    .post-description {
        margin-bottom: unset;
        padding-top: 5px
    }
    .article-div {
        margin-bottom: 10px
    }
    .post-verical {
        flex-basis: 0;
        padding: 5px
    }
    .thumbnail-verical {
        padding-top: 0
    }
    .post-vertical-description {
        display: none !important
    }
    .post-vertical-title {
        font-size: 19px !important
    }
}

.owl-carousel .owl-nav div {
    background: hsla(0, 0%, 100%, .8) none repeat scroll 0 0;
    color: #646464;
    font-size: 22px;
    height: 40px;
    left: 20px;
    line-height: 40px;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease 0s;
    visibility: visible;
    width: 40px
}

.owl-carousel .owl-nav div.owl-next {
    left: auto;
    right: -30px
}

.owl-carousel .owl-nav div.owl-next i {
    position: relative;
    right: 0;
    top: 1px
}

.owl-carousel .owl-nav div.owl-prev i {
    position: relative;
    right: 1px;
    top: 0
}

.owl-carousel:hover .owl-nav div {
    opacity: 1;
    visibility: visible
}

.owl-carousel:hover .owl-nav div:hover {
    background: #ff3500;
    color: #fff
}

.btn {
    background: #ff656a;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    margin: 0;
    min-width: 200px;
    overflow: hidden;
    padding: 27px 44px;
    position: relative;
    text-transform: uppercase;
    transition: color .4s linear;
    -moz-user-select: none;
    z-index: 1
}

.btn:before {
    background: #e6373d;
    border-radius: 5px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform .5s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    width: 100%;
    z-index: 1
}

.btn:hover:before {
    color: #fff !important;
    transform: scaleX(1);
    z-index: -1
}

.btn.focus,
.btn:focus {
    box-shadow: none;
    outline: 0
}

#scrollUp {
    border-radius: 10px;
    bottom: 20px;
    font-size: 14px;
    height: 40px;
    padding-top: 10px;
    right: 20px;
    text-align: center;
    width: 30px
}

#scrollUp,
#scrollUp:hover {
    color: #fff
}

.sticky-bar {
    -webkit-animation: fadeInDown .3s ease-in-out 0s 1 normal none running;
    animation: fadeInDown .3s ease-in-out 0s 1 normal none running;
    background: #fff;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .05);
    margin: auto;
    z-index: 9999
}

.preloader,
.sticky-bar {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%
}

.preloader {
    background-color: #f7f7f7;
    bottom: 0;
    height: 100%;
    margin: 0 auto;
    right: 0;
    transition: .6s;
    z-index: 999999
}

.preloader img.jump {
    max-height: 100px
}

.align-center-vertical {
    margin-bottom: auto;
    margin-top: auto
}

.text-limit-2-row {
    -webkit-line-clamp: 2 !important
}

.text-limit-2-row,
.text-limit-3-row {
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    overflow: hidden !important
}

.text-limit-3-row {
    -webkit-line-clamp: 3 !important
}

.img-hover-scale {
    overflow: hidden;
    position: relative
}

.img-hover-scale img {
    transition: transform .5s
}

.img-hover-scale:hover img {
    transform: scale(1.1);
    transition: transform .5s
}

.img-hover-slide {
    -webkit-backface-visibility: hidden;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
    overflow: hidden;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease
}

.entry-header-3 .img-hover-slide {
    min-height: 380px
}

.post-thumb:hover .img-hover-slide,
.single-header-2:hover .img-hover-slide {
    background-position: 30%;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease
}

.img-link {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1
}

.thumb-overlay {
    position: relative
}

.thumb-overlay:before {
    background: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, .8));
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    width: 100%
}

.thumb-overlay:hover:before {
    background-color: rgba(0, 0, 0, .2)
}

.transition-ease-04 {
    -ms-transition: all .4s ease
}

.top-right-icon,
.transition-ease-04 {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease
}

.top-right-icon {
    border-radius: 5px;
    bottom: 15px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 15px;
    text-align: center;
    transition-duration: .4s;
    -ms-transition: all .4s ease;
    width: 30px;
    z-index: 3
}

.top-right-icon i {
    top: 2px
}

.img-hover-scale:hover .top-right-icon,
.img-hover-slide:hover .top-right-icon {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    margin-top: -3px
}

.hover-box-shadow,
.hover-box-shadow:hover,
.img-hover-scale:hover .top-right-icon,
.img-hover-slide:hover .top-right-icon {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition-duration: .4s;
    -ms-transition: all .4s ease
}

.hover-box-shadow:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.letter-background {
    color: rgba(0, 0, 0, .07);
    font-size: 4rem;
    font-weight: 900;
    left: -15px;
    line-height: 1.2;
    pointer-events: none;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1
}

.font-weight-ultra {
    font-weight: 900
}

.scroll-progress {
    bottom: -3px;
    height: 3px;
    position: absolute;
    width: 0;
    z-index: 9999999
}

#off-canvas-toggle,
.off-canvas-close,
.search-button,
.search-clos,
.slick-dots button,
.slider-post-thumb,
.subscribe,
.user-account,
button.search-icon,
button.slick-arrow {
    cursor: pointer
}

.gradient-bg-1 {
    background: #e2465c;
    background: linear-gradient(90deg, #e2465c 0, #fe4141 50%, #ffb957)
}

.width-one-column {
    width: 23%
}

.width-three-column {
    width: 52%
}

h1.logo-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
    margin-left: 5px;
    margin-top: 7px
}

#off-canvas-toggle span,
#off-canvas-toggle span:after,
#off-canvas-toggle span:before {
    background: #353c49;
    display: inherit;
    height: 2px;
    position: relative;
    width: 15px
}

#off-canvas-toggle span:after,
#off-canvas-toggle span:before {
    content: "";
    left: 0;
    position: absolute;
    right: 0
}

#off-canvas-toggle span:before {
    top: -8px;
    width: 15px
}

#off-canvas-toggle span:after {
    top: -4px;
    width: 15px
}

#off-canvas-toggle p {
    display: inline;
    font-size: 12px;
    margin: 0 0 0 5px
}

.off-canvas-close {
    background: none;
    border: 0;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px
}

.vline-space {
    background: #cbd3d7;
    height: 15px;
    margin: 0 10px -2px;
    width: 1px
}

button.search-icon {
    background: none;
    border: 0;
    font-size: 16px;
    padding: 0;
    width: 30px
}

.top-bar ul.header-social-network li a {
    font-size: 12px;
    padding: 0
}

button.subscribe {
    background: none;
    border: 1px solid;
    border-radius: 30px;
    font-weight: 700;
    margin: 0 0 0 15px;
    padding: 5px 15px
}

.user-account .ti-user {
    margin-right: 2px
}

.dropdown-menu {
    border-radius: 5px
}

#langMenuDropdow.dropdown-menu,
#userMenuDropdow.dropdown-menu {
    background: #fff;
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    margin-top: 10px;
    padding: 5px 15px
}

#langMenuDropdow.dropdown-menu {
    min-width: 110px
}

#langMenuDropdow.dropdown-menu a,
#userMenuDropdow.dropdown-menu a {
    font-size: 12px;
    padding: 7px 0
}

#langMenuDropdow.dropdown-menu a i,
#userMenuDropdow.dropdown-menu a i {
    color: #b0b8cc;
    margin-right: 8px
}

.dropdown-item {
    background-color: transparent;
    border: 0;
    clear: both;
    color: #212529;
    display: block;
    font-weight: 400;
    padding: .25rem 1.5rem;
    text-align: inherit;
    white-space: nowrap;
    width: 100%
}

form.menu-search-form input {
    width: 100%
}

.off-canvas-toggle-cover {
    position: absolute;
    z-index: 300
}

#sidebar-wrapper {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: all .2s ease;
    width: 0;
    z-index: 1009
}

.position-midded {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%
}

#sidebar-wrapper.position-right {
    left: unset;
    right: 0
}

.canvas-opened #sidebar-wrapper {
    transition: all .2s ease;
    width: 350px
}

.canvas-opened #off-canvas-toggle span {
    background: none
}

.canvas-opened #off-canvas-toggle span:after {
    top: -4px;
    transform: rotate(-45deg);
    width: 15px
}

.canvas-opened #off-canvas-toggle span:before {
    top: -4px;
    transform: rotate(45deg);
    width: 15px
}

.sidebar-inner {
    display: table;
    height: 100%;
    padding: 30px
}

.dark-mark {
    -webkit-tap-highlight-color: transparent;
    background-color: rgba(0, 0, 0, .55);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: visibility 0s linear .3s, transform .3s ease, opacity .3s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    visibility: hidden;
    width: 100%;
    z-index: 1003
}

.canvas-opened .dark-mark {
    opacity: 1;
    transition: transform .3s ease, opacity .3s ease;
    visibility: visible
}

.main-search-form {
    height: 0;
    opacity: 0;
    visibility: hidden
}

.open-search-form .main-search-form {
    height: 100%;
    opacity: 1;
    visibility: visible
}

.main-search-form .search-form label {
    width: 100%
}

.main-search-form .search-form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: transparent;
    background: #fff;
    border: 1px solid #dfe0e6;
    border-radius: 999px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .05);
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    overflow: hidden;
    padding: 9px 0 9px 50px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.main-search-form .search-form-icon {
    left: 23px;
    margin-top: -3px;
    opacity: .6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.main-search-form .search-switch {
    border-left: 1px solid #dfe0e6;
    font-size: 14px;
    line-height: 1;
    margin-top: -3px;
    padding-left: 15px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%)
}

.main-header .main-header-navigation {
    padding-left: 0 !important
}

.main-header .pc-menu {
    margin-left: 0 !important
}

.main-header .main-nav ul li a {
    color: #4d4d4d;
    display: block;
    font-family: Helvetica, Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    line-height: 60px;
    padding: 0;
    position: relative;
    transition: all .2s ease-out 0s
}

.user-div {
    min-width: 250px !important
}

.user-avatar {
    border-radius: 50%;
    padding-bottom: 2px;
    padding-top: 2px
}

.user-avatar svg {
    height: 35px;
    width: 35px
}

.main-header .main-nav ul li>a:after {
    content: "";
    height: 2px;
    left: 50%;
    opacity: .5;
    position: absolute;
    top: -1px;
    transform: translateX(-50%);
    width: 0
}

.main-header .main-nav ul li ul a:after,
.main-header .main-nav ul li.mega-menu-item a:after {
    content: none
}

.main-header .main-nav ul li.current-menu-item>a:after,
.main-header .main-nav ul li:hover a:after {
    transition: all .2s ease-out 0s;
    width: 50px
}

.main-header .main-nav ul li.menu-item-has-children>a {
    padding-right: 15px
}

.main-header .main-nav ul li.menu-item-has-children>a:before {
    content: "";
    display: inline-block;
    font-family: themify;
    font-size: 8px;
    padding-left: 5px;
    position: absolute;
    right: 0
}

.main-header .main-nav ul ul.sub-menu {
    background: #fff;
    border-radius: 0 0 5px 5px;
    display: block;
    left: 0;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    opacity: 0;
    padding: 17px 0;
    padding: 15px;
    position: absolute;
    text-align: left;
    top: 120%;
    transition: all .2s ease-out 0s;
    visibility: hidden;
    width: 150%
}

.main-header .main-nav ul ul.sub-menu>li {
    font-size: 15px;
    margin-bottom: 15px;
    padding-right: 15px
}

.main-header .main-nav ul ul.sub-menu>li>a {
    font-weight: 500;
    line-height: 22px
}

.main-header .main-nav ul ul.sub-menu>li>a:hover {
    background: none
}

.header-area .header-top .header-info-right .header-social a i {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transition: all .4s ease-out 0s
}

.header-area .header-top .header-info-right .header-social a:hover i {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg)
}

.main-header ul>li:hover>ul.sub-menu {
    opacity: 1;
    top: 100%;
    visibility: visible
}

.main-header .main-nav ul li h6 a {
    font-size: 1em !important;
    font-weight: 600;
    line-height: 1.2
}

ul.slicknav_nav {
    -moz-column-count: 4;
    column-count: 4
}

.logo-mobile {
    max-width: 145px;
    position: relative
}

.main-menu {
    align-items: center;
    height: 100%;
    list-style-type: none;
    margin: 0
}

.main-menu>li {
    display: inline-block;
    height: 100%;
    padding: 0 8px;
    position: relative
}

.main-menu>li.mega-menu-item {
    position: static
}

.sub-mega-menu {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #f4f5f9;
    box-shadow: 0 40px 40px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 40px 40px 0 rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 40px 40px 0 rgba(0, 0, 0, .05);
    -o-box-shadow: 0 40px 40px 0 rgba(0, 0, 0, .05);
    -ms-box-shadow: 0 40px 40px 0 rgba(0, 0, 0, .05);
    display: none;
    flex-wrap: wrap;
    position: absolute;
    top: 100%
}

.main-menu>li:hover>.sub-mega-menu {
    display: flex
}

.sub-mega-menu .nav {
    padding: 30px 0 0 30px;
    width: 180px
}

.sub-mega-menu .tab-content {
    width: calc(100% - 180px)
}

.sub-mega-menu .nav-pills .nav-link {
    border-radius: 30px;
    border-radius: 50px;
    color: #222;
    font-size: 12px;
    line-height: 1.8;
    padding: 5px 20px;
    text-align: left
}

.sub-mega-menu .nav-pills .nav-link.active,
.sub-mega-menu .show>.nav-pills .nav-link {
    background-color: #7f8991;
    color: #fff
}

.sub-mega-menu .tab-content .tab-pane {
    padding: 25px 50px 35px 30px
}

.main-header .main-nav ul li .sub-mega-menu.sub-menu-list {
    line-height: 22px;
    padding: 15px
}

.main-header .main-nav ul li .sub-mega-menu.sub-menu-list li {
    font-size: 15px;
    margin-bottom: 15px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    padding-right: 15px
}

.main-header .main-nav ul li .sub-mega-menu.sub-menu-list a {
    font-weight: 400;
    line-height: 22px
}

.main-header .main-nav ul li.mega-menu-item .tab-content a {
    padding: 0;
    text-transform: none
}

.header-sticky.sticky-bar.sticky .header-flex {
    justify-content: space-between
}

.header-sticky.sticky-bar.sticky .header-btn .get-btn {
    padding: 20px
}

.header-area .slicknav_btn {
    right: 17px;
    top: -51px
}

.slicknav_btn {
    top: 20px
}

.slicknav_menu,
.slicknav_menu .slicknav_nav a:hover {
    background: transparent
}

.mobile_menu {
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 99
}

.header-sticky.sticky-bar.sticky .header-right-btn {
    display: none !important
}

.header-sticky.sticky-bar.sticky .sticky-logo {
    display: block !important
}

.sticky-logo {
    display: none !important
}

.sticky-logo.info-open {
    padding: 12px
}

.main-header {
    position: relative;
    z-index: 1002
}

.main-header #userMenuDropdow.dropdown-menu {
    margin-top: 15px
}

.header-style-1 {
    background: #fff;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .05)
}

.header-style-1 .header-bottom,
.header-style-2 .header-bottom,
.header-style-2.header-style-3 .header-bottom {
    height: 60px;
    line-height: 60px
}

.header-style-1 .search-button,
.header-style-2 .search-button {
    line-height: 70px;
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 300
}

.header-style-1 .top-bar,
.header-style-2 .topbar-inner {
    border-bottom: 1px solid #f4f5f9
}

.header-style-2 .off-canvas-toggle-cover {
    left: unset;
    right: 15px
}

.header-style-2.header-style-3 .topbar-inner {
    border: 0
}

.open-search-form .header-style-2 .off-canvas-toggle-cover {
    right: 80px
}

.header-style-2 .header-bottom {
    border: none
}

.header-style-2 ion-icon {
    font-size: 17px;
    margin-bottom: -2px
}

.header-style-2 input.search_field {
    -webkit-appearance: none;
    background: #f7f8f9;
    border-radius: .25rem;
    box-shadow: none;
    display: inline-block;
    font-size: 12px;
    height: 35px;
    padding: 0 0 0 30px;
    position: relative;
    vertical-align: middle
}

.header-style-2 .search-mobile {
    display: block !important;
    left: 50%;
    position: fixed !important;
    top: 0;
    transform: translateX(-50%);
    width: 90%;
    z-index: 2
}

.header-style-2 .search-mobile input {
    height: 40px;
    width: 100%
}

.header-style-2 .search-form .search-icon {
    cursor: pointer;
    font-size: 13px;
    left: 5px;
    opacity: .5;
    position: absolute;
    top: 3px
}

.header-style-2 .search-form .search-close-icon {
    cursor: pointer;
    font-size: 13px;
    opacity: .5;
    position: absolute;
    right: 10px;
    top: 3px
}

.tools-icon {
    text-align: right
}

.tools-icon a {
    padding: 0 7px;
    position: relative
}

span.notification {
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 10px;
    font-weight: 500;
    height: 14px;
    line-height: 14px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -10px;
    width: 14px
}

.content-404 {
    margin: 0 auto
}

.content-404 h1 {
    font-size: 8rem
}

.content-404 input#search {
    border-radius: 40px;
    margin: 0 auto;
    max-width: 450px;
    padding-left: 25px
}

.footer-area .footer-logo {
    margin-bottom: 40px
}

.footer-area .footer-pera p {
    color: #a8a8a8;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 50px
}

.footer-area .footer-pera.footer-pera2 p {
    padding: 0
}

.footer-area .footer-tittle h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 29px;
    text-transform: capitalize
}

.footer-area {
    color: #9babb6
}

.footer-area li.cat-item {
    padding: 5px 0
}

.footer-area .footer-tittle ul li {
    color: #012f5f;
    margin-bottom: 15px
}

.footer-area .footer-tittle ul li a {
    color: #333;
    font-weight: 300
}

.footer-area .footer-tittle ul li a:hover {
    padding-left: 5px
}

.footer-area .footer-form form {
    position: relative
}

.footer-area .footer-form form input {
    background: none;
    border: 0;
    border-bottom: 1px solid #403f3f;
    height: 43px;
    width: 100%
}

.footer-area .footer-form form .form-icon button {
    background: none;
    border: 0;
    cursor: pointer;
    line-height: 1;
    padding: 13px 22px;
    position: absolute;
    right: -20px;
    top: 0
}

.footer-area .footer-social a i {
    color: #222;
    font-size: 19px;
    margin-right: 12px;
    transition: all .4s ease-out 0s
}

.footer-area .footer-social a i:hover {
    box-shadow: inset 0 -3px 0 0 hsla(0, 0%, 9%, .15), 0 3px 10px rgba(0, 0, 0, .3);
    transform: translateY(-3px)
}

.footer-area .insta-feed {
    display: flex;
    flex-wrap: wrap;
    margin: -2px;
    padding-top: 5px
}

.footer-area .insta-feed li {
    margin: 5px;
    width: 29.33%
}

.footer-area .insta-feed li img {
    width: 100%
}

.footer-bottom-area .footer-border {
    border-top: 1px solid #e6e6e6
}

.footer-area a {
    font-family: Helvetica, Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;
    font-size: 15px;
    font-weight: 500
}

.footer-bottom-area .list-inline-item:not(:last-child) {
    margin-right: 30px
}

.footer-bottom-area .footer-copy-right p {
    font-weight: 300;
    line-height: 1;
    margin: 0
}

.footer-bottom-area .footer-copy-right p a:hover {
    color: #fff
}

.footer-menu ul li {
    display: inline-block;
    margin-left: 36px
}

.footer-menu ul li:first-child {
    margin-left: 0
}

.pagination-area .page-item,
.pagination-area .page-item:first-child {
    margin: 0
}

.pagination-area .page-link {
    background: #fff;
    border: 0;
    border-radius: 50%;
    box-shadow: none;
    color: #889097;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    outline: 0;
    padding: 0;
    text-align: center;
    width: 35px
}

.pagination-area .page-item.active .page-link {
    color: #fff !important
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    background: none;
    border-radius: 50% !important
}

.post-horizontal-area {
    background-color: unset !important;
    padding-top: 20px
}

.post-content {
    padding-left: 5px
}

.active-tab {
    border-bottom: 2px solid #f7941d
}

h5.small-post-title {
    margin-bottom: 5px !important
}

p.small-post-description {
    line-height: 1.5 !important
}

.horizontal-mobile-thumbnail {
    float: left;
    width: 32%
}

.horizontal-mobile-text {
    float: left;
    padding-left: 14px;
    width: 68%
}

.horizontal-mobile-text h5.post-title {
    font-size: 1.2rem
}

.horizontal-mobile-text .horizontal-category {
    margin-bottom: 5px !important
}

.horizontal-mobile-text .post-description {
    display: none !important
}

.highlights-post {
    padding: 5px
}

.highlights-post .featured-post-grid {
    margin-bottom: 0
}

@media only screen and (min-width:768px) {
    .normal-post-banner {
        width: 223px
    }
    .post-horizontal-area {
        background-color: #fff !important;
        padding: 20px 10px 10px
    }
    .post-content {
        padding-left: 15px
    }
    .small-post-banner {
        width: 190px !important
    }
    h5.small-post-title {
        font-size: 21px !important
    }
    p.small-post-description {
        font-size: 16px !important
    }
    .horizontal-category {
        margin-top: 2px
    }
    .horizontal-mobile-text .horizontal-category {
        margin-bottom: 10px !important
    }
    .horizontal-mobile-text .post-description {
        display: -webkit-box !important
    }
    .highlights-post {
        padding: unset
    }
    .highlights-post .featured-post-grid {
        background-color: #fff;
        margin-bottom: 0
    }
}

.breadcrumb {
    background: none;
    border-radius: 0;
    color: #6e6e6e;
    display: inline-block;
    font-size: .875rem;
    margin: 0;
    padding: 0;
    text-transform: capitalize
}

.breadcrumb span {
    padding: 0 10px;
    position: relative;
    text-align: center
}

.breadcrumb span:before {
    color: #101d35;
    content: "";
    display: inline-block;
    font-family: themify;
    font-size: 9px
}

.breadcrumb span.no-arrow:before {
    content: none
}

.loop-list-style-1 .post-thumb {
    border-radius: 10px
}

.loop-list-style-1 .post-thumb img {
    height: 150px;
    width: 150px
}

.loop-list-style-1 .post-thumb.post-thumb-big img {
    height: auto;
    width: 230px
}

.archive-header h2 {
    font-size: 45px;
    position: relative
}

.archive-header h2 span.post-count {
    background: #fff;
    border: 1px solid #abd7ab;
    border-radius: 30px;
    color: #98ca98;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin-left: 15px;
    padding: 5px 20px;
    position: absolute
}

.archive .loop-list-1 .first-post .img-hover-slide {
    min-height: 400px
}

.animate-conner-box:after {
    border-bottom: 45px solid #fff;
    border-left: 45px solid #f2546a;
    bottom: -45px;
    content: " ";
    display: block;
    height: 45px;
    position: absolute;
    right: -45px;
    transition: all .2s ease;
    width: 45px
}

.animate-conner:hover .animate-conner-box:after {
    bottom: 0 !important;
    right: 0 !important
}

.entry-header-1 h1 {
    max-width: 70%
}

.entry-header-2 h1 {
    margin: 0 auto;
    max-width: 80%
}

.overflow-hidden {
    overflow: hidden
}

.font-weight-500 {
    font-weight: 500
}

.single-sidebar-share {
    left: -100px;
    position: absolute
}

.single-social-share a {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, .15), 0 3px 8px -2px rgba(0, 0, 0, .15);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 44px;
    margin-bottom: 10px;
    text-align: center;
    width: 40px
}

.single-thumnail .arrow-cover i {
    color: #fff
}

.single-excerpt p {
    line-height: 1.7 !important
}

.single-excerpt h5 {
    font-size: 20px !important
}

.entry-main-content {
    font-size: 16px
}

.entry-main-content img.fr-dib,
.entry-main-content img.fr-dii {
    height: auto !important;
    max-width: 650px !important
}

.entry-main-content .vj-question {
    background: #f9f9f9;
    border-left: 4px solid #cac5c5;
    margin: 10px 0;
    padding: 5px 10px
}

.entry-main-content .vj-question .vj-title {
    color: #a76014 !important;
    font-size: 18px !important
}

.entry-main-content .vj-question p {
    font-size: 16px !important;
    line-height: 25px;
    margin-bottom: 0;
    min-height: 10px;
    padding: 5px 0
}

.entry-main-content .vj-blockquote {
    background: #f2f2f2;
    background-image: url(/images/quote.png);
    background-repeat: no-repeat;
    background-size: 15%;
    border: 1px solid #dcb76a !important;
    border-radius: 0;
    box-shadow: 0 0 0 5px #f2f2f2;
    color: #000 !important;
    margin: 5px 5px 20px;
    padding: .9375rem;
    position: relative
}

.entry-main-content .vj-blockquote p {
    font-size: 16px !important;
    line-height: 25px;
    margin-bottom: 0;
    min-height: 10px;
    padding: 8px 0
}

.entry-main-content .vj-downloads {
    background: #dddddd82 !important;
    border-left: 5px solid #10bf51 !important;
    color: #666 !important;
    display: block;
    font-size: 17px;
    line-height: 1.6;
    margin-right: 0;
    padding: 10px 0 15px 15px !important
}

.entry-main-content .vj-downloads .btn-download {
    margin-bottom: .25rem
}

.entry-main-content .vj-downloads .fr-file {
    background-color: #10bf51;
    border-color: #10bf51;
    border-radius: .3rem;
    color: #fff !important;
    font-size: 18px;
    line-height: 1.7;
    padding: .75rem 1.25rem
}

.entry-main-content .vj-downloads .fr-file:after {
    content: ""
}

.entry-main-content h2 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    font-size: 25px;
    line-height: 1.7 !important;
    margin-bottom: .5rem;
    margin-top: 1rem;
    vertical-align: baseline
}

.entry-main-content h3 {
    font-size: 22px;
    line-height: 1.7 !important;
    margin-bottom: .8rem
}

.entry-main-content h4 {
    font-size: 19px;
    line-height: 1.7 !important;
    margin-bottom: .8rem
}

.entry-main-content p {
    line-height: 1.7 !important;
    margin-bottom: 1rem
}

.entry-main-content p,
.entry-main-content p span {
    font-size: 16px !important
}

.entry-main-content p .fr-video {
    position: relative;
    text-align: center
}

.entry-main-content p .fr-video.fr-dvb {
    clear: both;
    display: block
}

.entry-main-content figure {
    margin-bottom: 30px;
    margin-top: 30px
}

.entry-main-content ul {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    color: #000;
    color: #262626 !important;
    font-family: Helvetica, Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;
    font-size: 16px;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    vertical-align: baseline
}

.qa-accordion h2 {
    font-size: 1.75rem
}

.entry-bottom .tags a {
    background-color: #f2f2f2;
    border: 1px solid #eee;
    border-radius: 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
    margin-right: 5px;
    margin-top: 2px;
    padding: 5px 20px;
    text-decoration: none
}

.entry-bottom .tags a:hover {
    background-color: #337ab7;
    color: #fff !important
}

.related-posts .img-hover-slide {
    min-height: 200px
}

.single-header-2 .single-thumnail {
    background-position: 50%;
    background-size: cover;
    min-height: 540px;
    position: relative
}

.single-header-2 .entry-header-1 {
    padding: 100px
}

.single-header-3.single-header-2 .entry-header-1 {
    padding: 50px
}

.author-bio {
    display: flex;
    text-align: left
}

.author-bio .author-image img {
    border-radius: 50%;
    height: 90px;
    width: 90px
}

.author-bio .author-image {
    flex-grow: 0;
    flex-shrink: 0;
    height: 90px;
    margin-right: 40px;
    overflow: hidden;
    width: 90px
}

.author-bio .author-info {
    flex-grow: 1
}

.author-bio h3 {
    font-size: 22px;
    margin-bottom: 10px
}

.author-bio h5 {
    color: var(--color-black);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: uppercase
}

.author-bio .author-description {
    margin-bottom: 15px;
    margin-top: 15px
}

.author-bio .author-bio-link {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 20px;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: lowercase
}

.author-bio .author-social {
    display: inline-block
}

.author-bio .author-social-icons {
    list-style: none;
    margin: 0;
    padding: 0
}

.author-bio .author-social-icons li {
    display: inline-block
}

.author-bio .author-social-icons li:first-child a {
    margin-left: 0
}

.author-bio .author-social-icons li a {
    display: block;
    font-size: 16px;
    margin-left: 20px;
    padding-top: 0;
    text-align: center
}

.author-bio .author-social-icons li a i {
    font-size: 14px
}

.author .author-bio {
    background: #f4f5f9;
    border: 0;
    border-radius: 5px;
    margin: 0;
    padding: 50px
}

.comments-area {
    background: transparent;
    border-top: 1px solid #eee;
    margin-top: 50px;
    padding: 45px 0
}

@media (max-width:414px) {
    .comments-area {
        padding: 50px 8px
    }
}

.comments-area h4 {
    color: #2a2a2a;
    font-size: 18px;
    margin-bottom: 35px
}

.comments-area h5 {
    font-size: 16px;
    margin-bottom: 0
}

.comments-area a {
    color: #2a2a2a
}

.comments-area .comment-list {
    padding-bottom: 48px
}

.comments-area .comment-list:last-child {
    padding-bottom: 0
}

.comments-area .comment-list.left-padding {
    padding-left: 25px
}

.comments-area .thumb {
    margin-right: 20px
}

.comments-area .thumb img {
    border-radius: 50%;
    width: 70px
}

.comments-area .date {
    color: #999;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 20px
}

.comments-area .comment {
    color: #777;
    font-size: 15px;
    margin-bottom: 10px
}

.comments-area .btn-reply {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 30px;
    color: #9babb6;
    display: block;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 18px
}

.comment-form {
    border-top: 1px solid #eee;
    margin-top: 50px;
    padding-top: 45px
}

.comment-form .form-group {
    margin-bottom: 30px
}

.comment-form h4 {
    color: #2a2a2a;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px
}

.comment-form .name {
    padding-left: 0
}

p iframe {
    aspect-ratio: 16/9;
    max-width: 100% !important
}

@media (max-width:767px) {
    .comment-form .name {
        margin-bottom: 1rem;
        padding-right: 0
    }
}

@media (max-width:640px) {
    p iframe {
        height: 100% !important;
        width: 100% !important
    }
    .sticky-sidebar {
        padding-top: 15px
    }
}

.comment-form .email {
    padding-right: 0
}

@media (max-width:991px) {
    .comment-form .email {
        padding-left: 0
    }
}

.form-control {
    background: transparent;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 13px;
    height: 48px;
    padding-left: 18px
}

.form-control:focus {
    box-shadow: none;
    outline: 0
}

.form-control::-moz-placeholder {
    color: #999;
    font-weight: 300
}

.form-control:-ms-input-placeholder {
    color: #999;
    font-weight: 300
}

.form-control::placeholder {
    color: #999;
    font-weight: 300
}

.form-control::-moz-placeholder {
    color: #777
}

.form-control:-ms-input-placeholder {
    color: #777
}

.form-control::placeholder {
    color: #777
}

.comment-form textarea {
    background: #fff;
    border-radius: 5px;
    height: 100% !important;
    padding-top: 18px
}

.comment-form::-webkit-input-placeholder {
    color: #777;
    font-size: 13px
}

.comment-form::-moz-placeholder {
    color: #777;
    font-size: 13px
}

.comment-form:-ms-input-placeholder {
    color: #777;
    font-size: 13px
}

.comment-form:-moz-placeholder {
    color: #777;
    font-size: 13px
}

.button-contactForm {
    border-color: #f2546a;
    padding: 12px 25px
}

.button,
.button-contactForm {
    background: #f2546a;
    color: #fff
}

.button {
    border: 1px solid #f2546a;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 54px;
    text-transform: uppercase;
    transition: all .3s linear 0s
}

.button:hover {
    background: #010f22;
    border: 1px solid #010f22
}

.post-thumb .social-share,
figure .social-share {
    bottom: 10px;
    float: left;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    position: absolute;
    right: 0;
    z-index: 200
}

.animate-conner .post-thumb .social-share {
    right: 35px
}

.post-thumb .social-share li,
figure .social-share li {
    float: left;
    margin-left: 5px;
    max-width: 0;
    opacity: 0;
    text-align: center;
    transition: .3s;
    width: 100%
}

.post-thumb .social-share li:first-child,
figure .social-share li:first-child {
    max-width: 30px;
    opacity: 1;
    pointer-events: none
}

.post-thumb .social-share li a,
figure .social-share li a {
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    width: 30px
}

.post-thumb .social-share:hover li:first-child,
figure .social-share:hover li:first-child {
    max-width: 0;
    opacity: 0
}

.post-thumb .social-share:hover li,
figure .social-share:hover li {
    max-width: 30px;
    opacity: 1
}

.post-thumb .social-share:hover li:last-child,
figure .social-share:hover li:last-child {
    margin-right: 15px
}

.social-share {
    height: 0;
    transition-duration: .2s
}

.bgcover:hover .social-share,
.post-thumb:hover .social-share {
    height: 30px;
    transition-duration: .2s
}

.post-thumb .social-share li a {
    background: #007aff
}

.post-thumb .social-share li a.fb {
    background: #3b5999
}

.post-thumb .social-share li a.tw {
    background: #55acee
}

.post-thumb .social-share li a.pt {
    background: #bd081c
}

.wp-block-separator {
    border-top: 1px solid #f4f5f9;
    margin: 20px auto
}

.wp-block-embed,
.wp-block-gallery,
.wp-block-image {
    margin-bottom: 30px
}

.blocks-gallery-grid,
.wp-block-gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.blocks-gallery-grid.columns-3 .blocks-gallery-image,
.blocks-gallery-grid.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-image,
.wp-block-gallery.columns-3 .blocks-gallery-item {
    margin-right: 16px;
    width: calc(33.33333% - 10.66667px)
}

.blocks-gallery-grid.columns-3 .blocks-gallery-image:nth-of-type(3n),
.blocks-gallery-grid.columns-3 .blocks-gallery-item:nth-of-type(3n),
.wp-block-gallery.columns-3 .blocks-gallery-image:nth-of-type(3n),
.wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n) {
    margin-right: 0
}

.blocks-gallery-grid.columns-6 .blocks-gallery-image,
.blocks-gallery-grid.columns-6 .blocks-gallery-item,
.wp-block-gallery.columns-6 .blocks-gallery-image,
.wp-block-gallery.columns-6 .blocks-gallery-item {
    margin-right: 15px;
    width: calc(16.66667% - 5px)
}

.blocks-gallery-grid.columns-3 .blocks-gallery-image:nth-of-type(5n),
.blocks-gallery-grid.columns-3 .blocks-gallery-item:nth-of-type(5n),
.wp-block-gallery.columns-3 .blocks-gallery-image:nth-of-type(5n),
.wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(5n) {
    margin-right: 0
}

.blocks-gallery-grid.is-cropped .blocks-gallery-image a,
.blocks-gallery-grid.is-cropped .blocks-gallery-image img,
.blocks-gallery-grid.is-cropped .blocks-gallery-item a,
.blocks-gallery-grid.is-cropped .blocks-gallery-item img,
.wp-block-gallery.is-cropped .blocks-gallery-image a,
.wp-block-gallery.is-cropped .blocks-gallery-image img,
.wp-block-gallery.is-cropped .blocks-gallery-item a,
.wp-block-gallery.is-cropped .blocks-gallery-item img {
    flex: 1;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.wp-block-separator.is-style-dots {
    background: none !important;
    border: none;
    height: auto;
    max-width: none;
    width: auto
}

.wp-block-separator.is-style-dots:before {
    color: currentColor;
    content: "···";
    font-family: serif;
    font-size: 20px;
    letter-spacing: 2em;
    padding-left: 2em
}

.wp-block-separator.is-style-dots {
    line-height: 1;
    text-align: center
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
    background: #f4f5f9;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin: 0 0 16px;
    padding: 50px;
    padding: 30px
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
    font-size: 30px;
    font-style: normal;
    line-height: 1.3
}

.wp-block-image {
    margin-bottom: 30px
}

.entry-main-content figure.alignleft {
    margin-right: 30px;
    margin-top: 20px
}

.wp-block-image .alignleft {
    float: left;
    margin-right: 1em
}

.entry-main-content figure.alignright {
    margin-left: 30px;
    margin-top: 20px
}

.wp-block-image .alignright {
    float: right;
    margin-left: 1em
}

.wp-block-image .aligncenter>figcaption,
.wp-block-image .alignleft>figcaption,
.wp-block-image .alignright>figcaption,
.wp-block-image.is-resized>figcaption {
    caption-side: bottom;
    display: table-caption;
    width: 100%
}

.wp-block-image figcaption {
    bottom: 0;
    color: #6a6a6a;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 15px;
    right: 0;
    text-align: center;
    z-index: 1
}

.tooltip-inner {
    font-size: .7em
}

table {
    border-collapse: collapse;
    color: #212529;
    margin-bottom: 1.5rem;
    width: 100%
}

.comment-content table td,
.comment-content table th,
.entry-main-content table td,
.entry-main-content table th {
    border: 1px solid #444 !important;
    padding: .15em
}

.entry-main-content dd,
.single-comment dd {
    margin: 0 0 1.65em
}

.entry-main-content ul {
    list-style: disc
}

.comment-content ul li,
.entry-main-content ul li {
    font-size: 16px !important;
    line-height: 1.7;
    list-style: disc inside;
    margin-bottom: .4rem
}

.entry-main-content ul li.blocks-gallery-item {
    list-style: none
}

.comment-content li>ol,
.comment-content li>ul,
.entry-main-content li>ol,
.entry-main-content li>ul {
    padding-left: 2rem
}

.entry-main-content ol {
    padding-left: 0
}

ol li {
    line-height: 1.7;
    list-style: decimal inside;
    width: 100%
}

pre {
    word-wrap: break-word;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 15px;
    font-size: 1em;
    line-height: 1.8;
    margin: 15px 0;
    max-width: 100%;
    overflow: auto;
    padding: 1.75em;
    white-space: pre;
    white-space: pre-wrap
}

.bar,
.loader {
    height: 20px;
    width: 100px
}

.bar {
    align-items: center;
    display: flex;
    position: absolute
}

.bar:after,
.bar:before {
    -webkit-animation: slideleft 3s ease-in-out infinite;
    animation: slideleft 3s ease-in-out infinite;
    background: #3fa9f5;
    border-radius: 10px;
    content: "";
    display: block;
    height: 10px;
    opacity: 0;
    position: absolute;
    width: 10px
}

.bar1:before {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.bar1:after {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.bar2:before {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.bar2:after {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}

.bar3:before {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}

.bar3:after {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}

.post-banner {
    width: 360px !important
}

@media only screen and (min-width:411px) and (max-width:768px) {
    .post-banner {
        width: 460px !important
    }
}

.slicknav_btn {
    float: left;
    margin-left: 25px
}

@-webkit-keyframes slideleft {
    10% {
        opacity: 0;
        right: 0;
        transform: scale(0)
    }
    50% {
        opacity: 1;
        transform: scale(1)
    }
    90% {
        opacity: 0;
        right: 100%;
        transform: scale(0)
    }
}

@keyframes slideleft {
    10% {
        opacity: 0;
        right: 0;
        transform: scale(0)
    }
    50% {
        opacity: 1;
        transform: scale(1)
    }
    90% {
        opacity: 0;
        right: 100%;
        transform: scale(0)
    }
}

[data-loader=spinner] {
    -webkit-animation: spinner 1.2s ease-in-out infinite;
    animation: spinner 1.2s ease-in-out infinite;
    background: url(/images/favicon.svg);
    box-shadow: 0 0 10px #fff;
    display: inline-block;
    height: 35px;
    width: 35px
}

@-webkit-keyframes spinner {
    0% {
        transform: perspective(120px) rotateX(0) rotateY(0)
    }
    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(0)
    }
    to {
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg)
    }
}

@keyframes spinner {
    0% {
        transform: perspective(120px) rotateX(0) rotateY(0)
    }
    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(0)
    }
    to {
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg)
    }
}

@-webkit-keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(239, 63, 72, .8)
    }
    to {
        box-shadow: 0 0 0 5px transparent
    }
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(239, 63, 72, .8)
    }
    to {
        box-shadow: 0 0 0 5px transparent
    }
}

@-webkit-keyframes shadow-pulse-big {
    0% {
        box-shadow: 0 0 0 0 rgba(239, 63, 72, .1)
    }
    to {
        box-shadow: 0 0 0 20px transparent
    }
}

@keyframes shadow-pulse-big {
    0% {
        box-shadow: 0 0 0 0 rgba(239, 63, 72, .1)
    }
    to {
        box-shadow: 0 0 0 20px transparent
    }
}

@-webkit-keyframes jump {
    0% {
        transform: translate3d(0, 50%, 0)
    }
    to {
        transform: translateZ(0)
    }
}

@keyframes jump {
    0% {
        transform: translate3d(0, 50%, 0)
    }
    to {
        transform: translateZ(0)
    }
}

.jump {
    -webkit-animation: jump .5s linear infinite alternate;
    animation: jump .5s linear infinite alternate;
    transform-origin: 0
}

.widget-title span {
    font-weight: 600
}

.widget-title {
    font-weight: 700
}

.entry-meta {
    line-height: 1
}

.entry-meta.meta-2 .author-img img {
    border-radius: 50%;
    height: 40px;
    width: 40px
}

.entry-meta.meta-2 .author-name {
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
    text-transform: uppercase
}

.entry-meta .author-add {
    font-size: 12px
}

.entry-meta.meta-1 span {
    margin-right: 20px
}

.entry-meta.meta-1 span i {
    margin-right: 3px
}

.entry-meta.meta-0 span {
    border-radius: 30px;
    font-weight: 700;
    padding: 4px 10px;
    position: relative
}

.entry-meta.meta-0 span,
.entry-meta.meta-2 span {
    font-size: 11px;
    letter-spacing: .8px;
    text-transform: uppercase
}

span.has-dot {
    padding-left: 10px;
    position: relative
}

span.has-dot:before {
    background: #999;
    border-radius: 50%;
    content: "";
    display: block;
    height: 2px;
    left: -3px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 2px
}

.widget-header .widget-title {
    position: relative;
    z-index: 2
}

.slick-slide img {
    height: auto;
    max-width: 100%
}

.featured-slider-1 {
    background: #fff
}

.featured-slider-1 .post-title,
.loop-list-1 .first-post .post-title {
    max-width: 75%
}

.featured-slider-1 .post-title.full-width {
    max-width: 100%
}

.slider-caption {
    padding: 30px
}

button.slick-arrow {
    background: none;
    border: 0;
    margin: 0 5px;
    padding: 0;
    position: relative
}

.featured-slider-2-items .post-thumb .thumb-overlay {
    min-height: 600px
}

.featured-slider-2 .post-content-overlay {
    position: absolute;
    top: 200px;
    transition-duration: .2s;
    width: 100%;
    z-index: 500
}

.featured-slider-2 .post-content-overlay .post-title {
    max-width: 50%
}

.featured-slider-2-nav-cover {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 50%
}

.featured-slider-2-nav .slick-current img {
    border: 5px solid
}

.featured-slider-2 .arrow-cover {
    left: 0;
    position: absolute;
    z-index: 300
}

.featured-slider-2 .arrow-cover i {
    color: #fff
}

.editor-picked {
    padding: 30px
}

a.read-more {
    border: 1px solid #abd7ab;
    border-radius: 30px;
    color: #98ca98;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 15px
}

.post-carausel-2 .img-hover-slide {
    min-height: 140px
}

.post-carausel-2 .thumb-overlay:before {
    background: rgba(0, 0, 0, .5)
}

.slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 15px;
    top: -30px
}

.slick-dots li {
    margin: 0 2px
}

.slick-dots button {
    background: transparent;
    border: 2px solid #b2b2b2;
    border-radius: 6px;
    display: block;
    height: 8px;
    padding: 0;
    text-indent: -9999px;
    width: 8px
}

.slick-dots li.slick-active button {
    width: 20px
}

.post-carausel-3 .img-hover-slide {
    min-height: 450px
}

.post-carausel-3 .thumb-overlay:before {
    border-radius: 0
}

.post-module-1 .post-content-overlay {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: .2s
}

.post-module-1 .post-thumb:hover .thumb-overlay:before {
    background: rgba(0, 0, 0, .7)
}

.post-module-1 .list-post .post-thumb {
    height: 100px;
    width: 130px
}

.post-module-4 .img-hover-slide {
    height: 570px
}

.post-module-1.post-module-5 .list-post .post-thumb {
    height: 80px;
    width: 80px
}

.last-comment span.item-count {
    margin: 0 15px 0 0;
    text-align: center
}

.last-comment .author-avatar {
    display: block;
    margin-top: 5px;
    width: 35px
}

.post-aside-style-1 .post-thumb {
    border-radius: 50%;
    height: 50px;
    width: 50px
}

.post-aside-style-1 .post-thumb img {
    border-radius: 50%
}

.post-aside-style-2 .post-thumb {
    border-radius: 10px;
    height: auto;
    width: 120px
}

.post-aside-style-2 .post-thumb img {
    border-radius: 10px
}

.news-flash-cover h6 {
    line-height: 24px
}

.sidebar-left .sidebar-widget {
    font-family: Helvetica, Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;
    font-weight: 500;
    padding: 20px
}

.widget-top-auhor a {
    display: inline-block;
    margin: 7px;
    position: relative
}

.last-comment img,
.widget-top-auhor a img {
    border-radius: 50%;
    height: 35px;
    width: 35px
}

.widget-top-auhor a.active:after {
    background: #72b572;
    border: 1px solid #fff;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 9px;
    position: absolute;
    right: 0;
    width: 9px
}

.form-newsletter input {
    background: #f7f7f9;
    border: 1px solid #eee;
    border-radius: 30px;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0 0 0 15px;
    width: 100%
}

.form-newsletter button {
    background: none;
    border: 0;
    color: #f2546a;
    font-size: 15px;
    position: absolute;
    right: 10px;
    top: 7px
}

.widget_archive li,
.widget_categories li.cat-item,
.widget_nav_menu li,
.widget_pages li,
.widget_recent_comments li {
    display: table;
    text-align: right;
    width: 100%
}

.widget_archive li a,
.widget_categories li.cat-item a,
.widget_pages li a {
    float: left;
    padding: 5px 0;
    text-align: left
}

.text-muted a {
    color: #9babb6
}

.widget_categories_2 li {
    padding: 10px 0
}

.widget_categories_2 li>a>span {
    background: #ecf0f3;
    border-radius: 5px;
    color: #91a2ae;
    display: inline-block;
    font-size: 15px;
    height: 25px;
    line-height: 30px;
    text-align: center;
    transition-duration: .2s;
    width: 25px
}

.widget_categories_2 li.active>a,
.widget_categories_2 li:hover>a {
    transition-duration: .2s
}

.widget_categories_2 li.active>a>span,
.widget_categories_2 li:hover>a>span {
    background: #a5a5a5;
    color: #fff;
    transition-duration: .2s
}

.widget-weather p {
    font-size: 13px;
    margin: 0;
    white-space: nowrap
}

.widget-weather h2 {
    font-size: 40px;
    line-height: 1;
    margin: 0
}

nav.tab-nav {
    background: none;
    border: 0 solid;
    border-radius: 120px;
    float: right;
    font-size: 12px;
    padding: 0 11px;
    position: relative;
    text-transform: uppercase;
    top: 0
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
nav.tab-nav .nav-tabs {
    border: none
}

.tab-nav.style-1 .nav-link.active,
.tab-nav.style-1 .nav-link:hover {
    color: #fff
}

.tab-nav.style-1 .nav-link {
    border-radius: 30px;
    display: block;
    line-height: 1;
    margin: 0 3px;
    padding: 6px 13px
}

.follow-us a {
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 15px;
    height: 46px;
    overflow: hidden;
    padding: 12px 13px;
    width: 50%
}

.follow-us a .social-count {
    font-weight: 700
}

.follow-us i.v-align-space {
    border-right: 1px solid hsla(0, 0%, 100%, .5);
    line-height: 1;
    padding-right: 8px
}

.follow-us .social-icon {
    display: inline-block;
    position: relative;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out
}

.follow-us a:hover i {
    transform: translateY(-35px) !important
}

.follow-us a i {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: inline-block;
    font-size: 18px;
    transform: translateY(0);
    transition: .2s cubic-bezier(.65, .23, .31, .88);
    vertical-align: middle
}

.follow-us a i.nth-2 {
    left: 0;
    position: absolute;
    top: 38px
}

.about-author-img {
    border-radius: 50%;
    height: 52px;
    width: 52px
}

.post-format-icon {
    background: #ecf0f3;
    border-radius: 5px;
    color: #91a2ae;
    display: inline-block;
    font-size: 15px;
    height: 25px;
    line-height: 30px;
    text-align: center;
    width: 25px
}

.video-area {
    background-color: #021228;
    background-image: url(/images/bg-20.html);
    background-position: 0;
    background-repeat: no-repeat;
    color: #8b8cb3
}

.footer-area .letter-background,
.video-area .letter-background {
    color: hsla(0, 0%, 100%, .2)
}

.play_btn a {
    background: #fff;
    border-radius: 50%;
    color: #212d45;
    display: inline-block;
    display: block;
    font-size: 29px;
    height: 70px;
    left: 50%;
    line-height: 70px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    z-index: 9
}

.play_btn.play_btn_small a {
    font-size: 10px;
    height: 40px;
    line-height: 40px;
    width: 40px
}

.play_btn.play_btn_small a i {
    margin-right: -3px
}

.widget-taber a.nav-link {
    float: left;
    font-size: 14px;
    padding: 4px 15px 0 0;
    position: relative
}

.widget-taber a.nav-link.active {
    font-size: 18px;
    padding-left: 15px;
    padding-top: 0
}

.widget-taber a.nav-link.active:before {
    -webkit-animation: shadow-pulse 1s infinite;
    animation: shadow-pulse 1s infinite;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    left: 0;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 8px
}

.widget-taber nav.tab-nav {
    padding: 0
}

.widget-taber-content {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .05)
}

.tagcloud a {
    background: #f7f8f9;
    border-radius: 30px;
    color: #9babb6;
    display: inline-block;
    font-size: 12px;
    margin: 0 5px 10px 0;
    padding: 5px 15px;
    text-transform: uppercase
}

.border-radius-2 {
    border-radius: 2px;
    overflow: hidden
}

.border-radius-5 {
    border-radius: 5px;
    overflow: hidden
}

.border-radius-10 {
    border-radius: 10px;
    overflow: hidden
}

.border-radius-15 {
    border-radius: 15px;
    overflow: hidden
}

.border-radius-20 {
    border-radius: 20px;
    overflow: hidden
}

.border-radius-30 {
    border-radius: 30px;
    overflow: hidden
}

.border-radius-35 {
    border-radius: 35px;
    overflow: hidden
}

.mt-5 {
    margin-top: 5px !important
}

.mt-10 {
    margin-top: 10px !important
}

.mt-15 {
    margin-top: 15px !important
}

.mt-20 {
    margin-top: 20px !important
}

.mt-25 {
    margin-top: 25px !important
}

.mt-30 {
    margin-top: 30px !important
}

.mt-35 {
    margin-top: 35px !important
}

.mt-40 {
    margin-top: 40px !important
}

.mt-45 {
    margin-top: 45px !important
}

.mt-50 {
    margin-top: 50px !important
}

.mt-55 {
    margin-top: 55px !important
}

.mt-60 {
    margin-top: 60px !important
}

.mt-65 {
    margin-top: 65px !important
}

.mt-70 {
    margin-top: 70px !important
}

.mt-75 {
    margin-top: 75px !important
}

.mt-80 {
    margin-top: 80px !important
}

.mt-85 {
    margin-top: 85px !important
}

.mt-90 {
    margin-top: 90px !important
}

.mt-95 {
    margin-top: 95px !important
}

.mt-100 {
    margin-top: 100px !important
}

.mt-105 {
    margin-top: 105px !important
}

.mt-110 {
    margin-top: 110px !important
}

.mt-115 {
    margin-top: 115px !important
}

.mt-120 {
    margin-top: 120px !important
}

.mt-125 {
    margin-top: 125px !important
}

.mt-130 {
    margin-top: 130px !important
}

.mt-135 {
    margin-top: 135px !important
}

.mt-140 {
    margin-top: 140px !important
}

.mt-145 {
    margin-top: 145px !important
}

.mt-150 {
    margin-top: 150px !important
}

.mt-155 {
    margin-top: 155px !important
}

.mt-160 {
    margin-top: 160px !important
}

.mt-165 {
    margin-top: 165px !important
}

.mt-170 {
    margin-top: 170px !important
}

.mt-175 {
    margin-top: 175px !important
}

.mt-180 {
    margin-top: 180px !important
}

.mt-185 {
    margin-top: 185px !important
}

.mt-190 {
    margin-top: 190px !important
}

.mt-195 {
    margin-top: 195px !important
}

.mt-200 {
    margin-top: 200px !important
}

.mb-5 {
    margin-bottom: 5px !important
}

.mb-10 {
    margin-bottom: 10px !important
}

.mb-15 {
    margin-bottom: 15px !important
}

.mb-20 {
    margin-bottom: 20px !important
}

.mb-25 {
    margin-bottom: 25px !important
}

.mb-30 {
    margin-bottom: 30px !important
}

.mb-35 {
    margin-bottom: 35px !important
}

.mb-40 {
    margin-bottom: 40px !important
}

.mb-45 {
    margin-bottom: 45px !important
}

.mb-50 {
    margin-bottom: 50px !important
}

.mb-55 {
    margin-bottom: 55px !important
}

.mb-60 {
    margin-bottom: 60px !important
}

.mb-65 {
    margin-bottom: 65px !important
}

.mb-70 {
    margin-bottom: 70px !important
}

.mb-75 {
    margin-bottom: 75px !important
}

.mb-80 {
    margin-bottom: 80px !important
}

.mb-85 {
    margin-bottom: 85px !important
}

.mb-90 {
    margin-bottom: 90px !important
}

.mb-95 {
    margin-bottom: 95px !important
}

.mb-100 {
    margin-bottom: 100px !important
}

.mb-105 {
    margin-bottom: 105px !important
}

.mb-110 {
    margin-bottom: 110px !important
}

.mb-115 {
    margin-bottom: 115px !important
}

.mb-120 {
    margin-bottom: 120px !important
}

.mb-125 {
    margin-bottom: 125px !important
}

.mb-130 {
    margin-bottom: 130px !important
}

.mb-135 {
    margin-bottom: 135px !important
}

.mb-140 {
    margin-bottom: 140px !important
}

.mb-145 {
    margin-bottom: 145px !important
}

.mb-150 {
    margin-bottom: 150px !important
}

.mb-155 {
    margin-bottom: 155px !important
}

.mb-160 {
    margin-bottom: 160px !important
}

.mb-165 {
    margin-bottom: 165px !important
}

.mb-170 {
    margin-bottom: 170px !important
}

.mb-175 {
    margin-bottom: 175px !important
}

.mb-180 {
    margin-bottom: 180px !important
}

.mb-185 {
    margin-bottom: 185px !important
}

.mb-190 {
    margin-bottom: 190px !important
}

.mb-195 {
    margin-bottom: 195px !important
}

.mb-200 {
    margin-bottom: 200px !important
}

.ml-5 {
    margin-left: 5px !important
}

.ml-10 {
    margin-left: 10px !important
}

.ml-15 {
    margin-left: 15px !important
}

.ml-20 {
    margin-left: 20px !important
}

.ml-25 {
    margin-left: 25px !important
}

.ml-30 {
    margin-left: 30px !important
}

.ml-35 {
    margin-left: 35px !important
}

.ml-40 {
    margin-left: 40px !important
}

.ml-45 {
    margin-left: 45px !important
}

.ml-50 {
    margin-left: 50px !important
}

.ml-55 {
    margin-left: 55px !important
}

.ml-60 {
    margin-left: 60px !important
}

.ml-65 {
    margin-left: 65px !important
}

.ml-70 {
    margin-left: 70px !important
}

.ml-75 {
    margin-left: 75px !important
}

.ml-80 {
    margin-left: 80px !important
}

.ml-85 {
    margin-left: 85px !important
}

.ml-90 {
    margin-left: 90px !important
}

.ml-95 {
    margin-left: 95px !important
}

.ml-100 {
    margin-left: 100px !important
}

.ml-105 {
    margin-left: 105px !important
}

.ml-110 {
    margin-left: 110px !important
}

.ml-115 {
    margin-left: 115px !important
}

.ml-120 {
    margin-left: 120px !important
}

.ml-125 {
    margin-left: 125px !important
}

.ml-130 {
    margin-left: 130px !important
}

.ml-135 {
    margin-left: 135px !important
}

.ml-140 {
    margin-left: 140px !important
}

.ml-145 {
    margin-left: 145px !important
}

.ml-150 {
    margin-left: 150px !important
}

.ml-155 {
    margin-left: 155px !important
}

.ml-160 {
    margin-left: 160px !important
}

.ml-165 {
    margin-left: 165px !important
}

.ml-170 {
    margin-left: 170px !important
}

.ml-175 {
    margin-left: 175px !important
}

.ml-180 {
    margin-left: 180px !important
}

.ml-185 {
    margin-left: 185px !important
}

.ml-190 {
    margin-left: 190px !important
}

.ml-195 {
    margin-left: 195px !important
}

.ml-200 {
    margin-left: 200px !important
}

.mr-5 {
    margin-right: 5px !important
}

.mr-10 {
    margin-right: 10px !important
}

.mr-15 {
    margin-right: 15px !important
}

.mr-20 {
    margin-right: 20px !important
}

.mr-25 {
    margin-right: 25px !important
}

.mr-30 {
    margin-right: 30px !important
}

.mr-35 {
    margin-right: 35px !important
}

.mr-40 {
    margin-right: 40px !important
}

.mr-45 {
    margin-right: 45px !important
}

.mr-50 {
    margin-right: 50px !important
}

.mr-55 {
    margin-right: 55px !important
}

.mr-60 {
    margin-right: 60px !important
}

.mr-65 {
    margin-right: 65px !important
}

.mr-70 {
    margin-right: 70px !important
}

.mr-75 {
    margin-right: 75px !important
}

.mr-80 {
    margin-right: 80px !important
}

.mr-85 {
    margin-right: 85px !important
}

.mr-90 {
    margin-right: 90px !important
}

.mr-95 {
    margin-right: 95px !important
}

.mr-100 {
    margin-right: 100px !important
}

.mr-105 {
    margin-right: 105px !important
}

.mr-110 {
    margin-right: 110px !important
}

.mr-115 {
    margin-right: 115px !important
}

.mr-120 {
    margin-right: 120px !important
}

.mr-125 {
    margin-right: 125px !important
}

.mr-130 {
    margin-right: 130px !important
}

.mr-135 {
    margin-right: 135px !important
}

.mr-140 {
    margin-right: 140px !important
}

.mr-145 {
    margin-right: 145px !important
}

.mr-150 {
    margin-right: 150px !important
}

.mr-155 {
    margin-right: 155px !important
}

.mr-160 {
    margin-right: 160px !important
}

.mr-165 {
    margin-right: 165px !important
}

.mr-170 {
    margin-right: 170px !important
}

.mr-175 {
    margin-right: 175px !important
}

.mr-180 {
    margin-right: 180px !important
}

.mr-185 {
    margin-right: 185px !important
}

.mr-190 {
    margin-right: 190px !important
}

.mr-195 {
    margin-right: 195px !important
}

.mr-200 {
    margin-right: 200px !important
}

.p-5 {
    padding: 5px !important
}

.p-10 {
    padding: 10px !important
}

.p-15 {
    padding: 15px !important
}

.p-20 {
    padding: 20px !important
}

.p-30 {
    padding: 30px !important
}

.pt-5 {
    padding-top: 5px !important
}

.pt-10 {
    padding-top: 10px !important
}

.pt-15 {
    padding-top: 15px !important
}

.pt-20 {
    padding-top: 20px !important
}

.pt-25 {
    padding-top: 25px !important
}

.pt-30 {
    padding-top: 30px !important
}

.pt-35 {
    padding-top: 35px !important
}

.pt-40 {
    padding-top: 40px !important
}

.pt-45 {
    padding-top: 45px !important
}

.pt-50 {
    padding-top: 50px !important
}

.pt-55 {
    padding-top: 55px !important
}

.pt-60 {
    padding-top: 60px !important
}

.pt-65 {
    padding-top: 65px !important
}

.pt-70 {
    padding-top: 70px !important
}

.pt-75 {
    padding-top: 75px !important
}

.pt-80 {
    padding-top: 80px !important
}

.pt-85 {
    padding-top: 85px !important
}

.pt-90 {
    padding-top: 90px !important
}

.pt-95 {
    padding-top: 95px !important
}

.pt-100 {
    padding-top: 100px !important
}

.pt-105 {
    padding-top: 105px !important
}

.pt-110 {
    padding-top: 110px !important
}

.pt-115 {
    padding-top: 115px !important
}

.pt-120 {
    padding-top: 120px !important
}

.pt-125 {
    padding-top: 125px !important
}

.pt-130 {
    padding-top: 130px !important
}

.pt-135 {
    padding-top: 135px !important
}

.pt-140 {
    padding-top: 140px !important
}

.pt-145 {
    padding-top: 145px !important
}

.pt-150 {
    padding-top: 150px !important
}

.pt-155 {
    padding-top: 155px !important
}

.pt-160 {
    padding-top: 160px !important
}

.pt-165 {
    padding-top: 165px !important
}

.pt-170 {
    padding-top: 170px !important
}

.pt-175 {
    padding-top: 175px !important
}

.pt-180 {
    padding-top: 180px !important
}

.pt-185 {
    padding-top: 185px !important
}

.pt-190 {
    padding-top: 190px !important
}

.pt-195 {
    padding-top: 195px !important
}

.pt-200 {
    padding-top: 200px !important
}

.pt-260 {
    padding-top: 260px !important
}

.pb-5 {
    padding-bottom: 5px !important
}

.pb-10 {
    padding-bottom: 10px !important
}

.pb-15 {
    padding-bottom: 15px !important
}

.pb-20 {
    padding-bottom: 20px !important
}

.pb-25 {
    padding-bottom: 25px !important
}

.pb-30 {
    padding-bottom: 30px !important
}

.pb-35 {
    padding-bottom: 35px !important
}

.pb-40 {
    padding-bottom: 40px !important
}

.pb-45 {
    padding-bottom: 45px !important
}

.pb-50 {
    padding-bottom: 50px !important
}

.pb-55 {
    padding-bottom: 55px !important
}

.pb-60 {
    padding-bottom: 60px !important
}

.pb-65 {
    padding-bottom: 65px !important
}

.pb-70 {
    padding-bottom: 70px !important
}

.pb-75 {
    padding-bottom: 75px !important
}

.pb-80 {
    padding-bottom: 80px !important
}

.pb-85 {
    padding-bottom: 85px !important
}

.pb-90 {
    padding-bottom: 90px !important
}

.pb-95 {
    padding-bottom: 95px !important
}

.pb-100 {
    padding-bottom: 100px !important
}

.pb-105 {
    padding-bottom: 105px !important
}

.pb-110 {
    padding-bottom: 110px !important
}

.pb-115 {
    padding-bottom: 115px !important
}

.pb-120 {
    padding-bottom: 120px !important
}

.pb-125 {
    padding-bottom: 125px !important
}

.pb-130 {
    padding-bottom: 130px !important
}

.pb-135 {
    padding-bottom: 135px !important
}

.pb-140 {
    padding-bottom: 140px !important
}

.pb-145 {
    padding-bottom: 145px !important
}

.pb-150 {
    padding-bottom: 150px !important
}

.pb-155 {
    padding-bottom: 155px !important
}

.pb-160 {
    padding-bottom: 160px !important
}

.pb-165 {
    padding-bottom: 165px !important
}

.pb-170 {
    padding-bottom: 170px !important
}

.pb-175 {
    padding-bottom: 175px !important
}

.pb-180 {
    padding-bottom: 180px !important
}

.pb-185 {
    padding-bottom: 185px !important
}

.pb-190 {
    padding-bottom: 190px !important
}

.pb-195 {
    padding-bottom: 195px !important
}

.pb-200 {
    padding-bottom: 200px !important
}

.pl-5 {
    padding-left: 5px !important
}

.pl-10 {
    padding-left: 10px !important
}

.pl-15 {
    padding-left: 15px !important
}

.pl-20 {
    padding-left: 20px !important
}

.pl-25 {
    padding-left: 25px !important
}

.pl-30 {
    padding-left: 30px !important
}

.pl-35 {
    padding-left: 35px !important
}

.pl-40 {
    padding-left: 40px !important
}

.pl-45 {
    padding-left: 45px !important
}

.pl-50 {
    padding-left: 50px !important
}

.pl-55 {
    padding-left: 55px !important
}

.pl-60 {
    padding-left: 60px !important
}

.pl-65 {
    padding-left: 65px !important
}

.pl-70 {
    padding-left: 70px !important
}

.pl-75 {
    padding-left: 75px !important
}

.pl-80 {
    padding-left: 80px !important
}

.pl-85 {
    padding-left: 85px !important
}

.pl-90 {
    padding-left: 90px !important
}

.pl-95 {
    padding-left: 95px !important
}

.pl-100 {
    padding-left: 100px !important
}

.pl-105 {
    padding-left: 105px !important
}

.pl-110 {
    padding-left: 110px !important
}

.pl-115 {
    padding-left: 115px !important
}

.pl-120 {
    padding-left: 120px !important
}

.pl-125 {
    padding-left: 125px !important
}

.pl-130 {
    padding-left: 130px !important
}

.pl-135 {
    padding-left: 135px !important
}

.pl-140 {
    padding-left: 140px !important
}

.pl-145 {
    padding-left: 145px !important
}

.pl-150 {
    padding-left: 150px !important
}

.pl-155 {
    padding-left: 155px !important
}

.pl-160 {
    padding-left: 160px !important
}

.pl-165 {
    padding-left: 165px !important
}

.pl-170 {
    padding-left: 170px !important
}

.pl-175 {
    padding-left: 175px !important
}

.pl-180 {
    padding-left: 180px !important
}

.pl-185 {
    padding-left: 185px !important
}

.pl-190 {
    padding-left: 190px !important
}

.pl-195 {
    padding-left: 195px !important
}

.pl-200 {
    padding-left: 200px !important
}

.pr-5 {
    padding-right: 5px !important
}

.pr-10 {
    padding-right: 10px !important
}

.pr-15 {
    padding-right: 15px !important
}

.pr-20 {
    padding-right: 20px !important
}

.pr-25 {
    padding-right: 25px !important
}

.pr-30 {
    padding-right: 30px !important
}

.pr-35 {
    padding-right: 35px !important
}

.pr-40 {
    padding-right: 40px !important
}

.pr-45 {
    padding-right: 45px !important
}

.pr-50 {
    padding-right: 50px !important
}

.pr-55 {
    padding-right: 55px !important
}

.pr-60 {
    padding-right: 60px !important
}

.pr-65 {
    padding-right: 65px !important
}

.pr-70 {
    padding-right: 70px !important
}

.pr-75 {
    padding-right: 75px !important
}

.pr-80 {
    padding-right: 80px !important
}

.pr-85 {
    padding-right: 85px !important
}

.pr-90 {
    padding-right: 90px !important
}

.pr-95 {
    padding-right: 95px !important
}

.pr-100 {
    padding-right: 100px !important
}

.pr-105 {
    padding-right: 105px !important
}

.pr-110 {
    padding-right: 110px !important
}

.pr-115 {
    padding-right: 115px !important
}

.pr-120 {
    padding-right: 120px !important
}

.pr-125 {
    padding-right: 125px !important
}

.pr-130 {
    padding-right: 130px !important
}

.pr-135 {
    padding-right: 135px !important
}

.pr-140 {
    padding-right: 140px !important
}

.pr-145 {
    padding-right: 145px !important
}

.pr-150 {
    padding-right: 150px !important
}

.pr-155 {
    padding-right: 155px !important
}

.pr-160 {
    padding-right: 160px !important
}

.pr-165 {
    padding-right: 165px !important
}

.pr-170 {
    padding-right: 170px !important
}

.pr-175 {
    padding-right: 175px !important
}

.pr-180 {
    padding-right: 180px !important
}

.pr-185 {
    padding-right: 185px !important
}

.pr-190 {
    padding-right: 190px !important
}

.pr-195 {
    padding-right: 195px !important
}

.pr-200 {
    padding-right: 200px !important
}

.bt-1 {
    border-top: 1px solid
}

#userMenuDropdow.dropdown-menu a:hover,
.boxed-btn,
.contact-section .nav-tabs .nav-link.active,
.contact-section .whats-news-caption .single-what-news .what-cap h4 a:hover,
.footer-area .footer-form form input,
.footer-area .footer-social a i:hover,
.footer-area .footer-tittle ul li a:hover,
.footer-area .info.error,
.footer-bottom-area .footer-copy-right p a,
.main-header .main-menu ul li.current-menu-item>a,
.main-header .main-menu ul li:hover>a,
.main-header .main-menu ul ul.sub-menu>li>a:hover,
.main-header .main-nav ul li.current-menu-item>a,
.main-header .main-nav ul li:hover>a,
.main-header a:hover,
.pagination-area .page-item.active .page-link:hover,
.pagination-area .page-link:hover,
.recent-articles .single-recent .what-cap h4 a:hover,
.recent-articles .slick-arrow,
.sidebar-right .post-title:hover a,
.slicknav_menu .slicknav_nav a:hover,
.trending-area .trending-main .trand-right-single .trand-right-cap h4 a:hover,
.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap h4 a:hover,
.weekly-news-area .weekly-wrapper .weekly-single .weekly-caption h4 a:hover,
.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-caption h4 a:hover,
.widget_archive li a:hover,
.widget_categories li.cat-item a:hover,
.widget_pages li a:hover,
a.active {
    color: #1769e0
}

a.text-muted:hover {
    color: #f2546a !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212d45
}

#scrollUp,
.blog_item_img .blog_item_date,
.blog_right_sidebar .search_widget .input-group button,
.blog_right_sidebar .tag_cloud_widget ul li a:hover,
.boxed-btn:hover,
.hero-caption span:before,
.main-header .main-nav ul li.current-menu-item>a:after,
.main-header .main-nav ul li:hover>a:after,
.mobile_menu .slicknav_menu .slicknav_icon-bar,
.pagination-area .page-item.active .page-link,
.primary-bg,
.slick-dots li.slick-active button,
.slicknav_menu .slicknav_icon-bar,
.top-right-icon,
.trending-tittle strong,
.widget-taber a.nav-link.active:before {
    background: #f2546a
}

.boxed-btn,
.boxed-btn:hover,
.featured-slider-2-nav .slick-active img,
.main-header .main-menu ul ul.sub-menu,
.slick-dots li.slick-active button {
    border-color: #f2546a
}

.border-color-1 {
    border-color: #ececec
}

.tab-nav.style-1 .nav-link.active,
.tab-nav.style-1 .nav-link:hover {
    background: #212d45
}

.blog_area a:hover {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(131deg, #f2546a, #f2546a 99%);
    -webkit-background-clip: text;
    text-decoration: none;
    transition: .4s
}

.user-account,
button.search-icon,
p,
ul.header-social-network li a {
    color: #000
}

button.subscribe {
    border-color: #1d55c1;
    color: #1d55c1
}

button.subscribe:hover {
    background: #1d55c1;
    color: #fff
}

.color1 {
    color: #ff2d55
}

.color2 {
    color: #007aff
}

.color3 {
    color: #4cd964
}

.color4 {
    color: #5856d6
}

.color5 {
    color: #fc0
}

.background1 {
    background: #f6e8ec
}

.background2 {
    background: #dcebfb
}

.background3 {
    background: #4cd964
}

.background4 {
    background: #eed5d5
}

.background5 {
    background: #fc0
}

.background6 {
    background: #d4f4f9
}

.background7 {
    background: #4e6788
}

.background8 {
    background: #f2546a
}

.background9 {
    background: #752279
}

.background10 {
    background: #379499
}

.background11 {
    background: #010f22
}

.background12 {
    background: #f4f5f9
}

.color-white {
    color: #fff !important
}

.color-grey {
    color: #889097
}

.background-white {
    background: #fff
}

.color-black {
    color: #000
}

.facebook-icon:hover {
    color: #3b5998
}

.twitter-icon:hover {
    color: #55acee
}

.pinterest-icon:hover {
    color: #bd081c
}

.instagram-icon:hover {
    color: #3f729b
}

.follow-us a.follow-us-facebook,
.single-social-share a.facebook-icon {
    color: #305c99
}

.follow-us a.follow-us-twitter,
.single-social-share a.twitter-icon {
    color: #00cdff
}

.follow-us a.follow-us-instagram,
.single-social-share a.instagram-icon {
    color: #3f729b
}

.follow-us a.follow-us-youtube,
.single-social-share a.pinterest-icon {
    color: #e22b26
}

.follow-us a.follow-us-linkedin,
.single-social-share a.linkedin-icon {
    color: #1178b3
}

.single-social-share a.email-icon {
    color: #4d4d4d
}

.text-primary {
    color: #3fa9f5 !important
}

.text-secondary {
    color: #6c757d !important
}

.text-success {
    color: #72b572 !important
}

.text-danger {
    color: #d35353 !important
}

.text-warning {
    color: #e0c244 !important
}

.text-info {
    color: #57c0dd !important
}

.text-light {
    color: #f8f9fa !important
}

.text-dark {
    color: #343a40 !important
}

.text-muted,
.text-muted a {
    color: #262626 !important
}

.text-muted-active,
.text-muted-active a {
    color: #f2546a !important
}

.text-muted i {
    color: #9babb6 !important
}

.text-white {
    color: #fff !important
}

.text-grey {
    color: #889097 !important
}

.bg-primary {
    background-color: #3fa9f5 !important
}

.bg-secondary {
    background-color: #9babb6 !important
}

.bg-success {
    background-color: #72b572 !important
}

.bg-danger {
    background-color: #d35353 !important
}

.bg-warning {
    background-color: #e0c244 !important
}

.bg-info {
    background-color: #57c0dd !important
}

.bg-light {
    background-color: #f8f9fa !important
}

.bg-dark {
    background-color: #343a40 !important
}

.bg-white {
    background-color: #fff !important
}

@media (min-width:1200px) {
    .container {
        max-width: 1400px
    }
}

@media (min-width:992px) {
    .col-1-5 {
        flex: 0 0 20%;
        max-width: 20%
    }
    .col-2-5 {
        flex: 0 0 40%;
        max-width: 40%
    }
    .col-3-5 {
        flex: 0 0 60%;
        max-width: 60%
    }
    .col-4-5 {
        flex: 0 0 80%;
        max-width: 80%
    }
    .mb-lg-30 {
        margin-bottom: 30px !important
    }
    .pl-lg-50 {
        padding-left: 50px !important
    }
    .main-search-form-cover {
        padding: 10px 100px 50px
    }
    p.suggested {
        margin-left: 50px
    }
}

@media (min-width:768px) {
    .header-style-1 .header-bottom {
        display: block;
        height: 70px
    }
    .slicknav_nav li {
        display: block;
        margin: 0 auto;
        max-width: 720px;
        position: relative
    }
    .main-search-form p.ml-50 {
        margin-left: 0 !important
    }
    .main-search-form .search-form input {
        font-size: 18px;
        font-size: 22px
    }
    .post-single {
        padding: 10px
    }
    .post-single-bg-white {
        background-color: #fff;
        padding: 10px
    }
}

@media (max-width:992px) {
    .widget-area.pl-30 {
        padding-left: 0 !important
    }
    .header-style-2 .off-canvas-toggle-cover {
        left: unset;
        right: 15px;
        width: 30px
    }
    .auth-icon {
        display: inline;
        float: right;
        font-size: 18px
    }
    .footer-bottom-area .list-inline-item:not(:last-child) {
        margin-right: 20px
    }
    .featured-post-grid {
        margin-bottom: 30px
    }
    .mb-md-30 {
        margin-bottom: 30px !important
    }
    .loop-list-style-1 .post-thumb.post-thumb-big img {
        height: 150px;
        width: 150px
    }
    .single-sidebar-share {
        display: none
    }
    .forgot-password-btn,
    .login-btn,
    .register-btn {
        min-width: unset;
        padding: 20px 15px
    }
    .user-container .btn {
        padding: 20px !important
    }
    .login-btn-div .login-button {
        padding: 27px 38px
    }
    .login-btn-div .forgot-password {
        padding: 27px 18px
    }
    .login-title {
        padding-left: 10%
    }
    .auth-header {
        left: 193px !important;
        margin-top: -12px
    }
    .auth-header li {
        margin-bottom: 0 !important
    }
    .auth-header li button {
        font-size: 13px;
        padding: 18px 10px !important
    }
}

@media only screen and (max-width:375px) {
    .login-btn-div .login-button {
        font-size: 13px;
        padding: 27px 32px
    }
    .login-btn-div .forgot-password {
        font-size: 13px;
        padding: 27px 9px
    }
    .auth-header {
        left: 156px !important;
        margin-top: -12px
    }
    .auth-header li {
        margin-bottom: 0 !important
    }
    .auth-header li button {
        font-size: 13px;
        padding: 18px 10px !important
    }
}

@media (max-width:768px) {
    .mb-md-30 {
        margin-bottom: 30px !important
    }
    .follow-us {
        display: block !important
    }
    .follow-us a {
        margin: 0 0 15px !important;
        width: 100%
    }
    .post-module-4 .img-hover-slide {
        height: 493px
    }
    .footer-bottom-area {
        text-align: center
    }
    .main-header .search-button {
        right: 45px
    }
    .header-style-3 .off-canvas-toggle-cover {
        left: 0
    }
    .news-flash-cover {
        float: none !important
    }
    .loop-list .post-thumb.mr-20 {
        margin-right: 0 !important
    }
    .page-404 {
        text-align: center
    }
    .entry-header-1 h1 {
        max-width: 100%
    }
    .single-header-2 .entry-header-1 {
        padding: 50px
    }
    .entry-main-content h2 {
        font-size: 24px
    }
    .entry-main-content h3 {
        font-size: 23px
    }
    h1.post-title {
        font-size: 25px !important
    }
    .user-div-mobile {
        left: unset !important;
        right: 0;
        width: 67% !important
    }
}

@media only screen and (max-width:566px) {
    .loop-list-style-1 .post-thumb.post-thumb-big img,
    .post-aside-style-2 .post-thumb {
        height: unset;
        width: unset
    }
}

@media only screen and (max-width:480px) {
    .canvas-opened #sidebar-wrapper {
        width: 100%
    }
    .block-tab-item .post-block-style,
    .block-tab-item .sm-grid-content {
        margin-bottom: 30px
    }
    .letter-background {
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .tab-nav.style-1 .nav-link {
        margin: 0 1px;
        padding: 4px 7px
    }
    .tab-nav.style-1 {
        margin-bottom: 30px
    }
    .footer-bottom-area .footer-copy-right p {
        line-height: 1.5
    }
    .post-module-4 .img-hover-slide {
        height: 345px;
        margin-bottom: 30px
    }
    .loop-list-style-1 .entry-meta.meta-1,
    .tab-nav.style-1 i,
    .video-area .letter-background {
        display: none
    }
    .video-area .block-tab-item {
        margin-top: 30px !important
    }
    .video-area .widget-title {
        text-align: left
    }
    .loop-list .post-thumb,
    .pagination-area {
        margin-bottom: 30px
    }
    .main-search-form .search-switch {
        font-size: 12px
    }
    .suggested-area {
        text-align: center
    }
    .widget-taber a.nav-link.active {
        font-size: 14px;
        padding: 4px 15px 0
    }
    .author-bio {
        display: block
    }
    .single-social-share {
        text-align: left
    }
    .single-social-share .entry-meta {
        margin-bottom: 15px;
        width: 100%
    }
    .single-social-share ul {
        width: 100%
    }
    .single-header-2 .entry-header-1,
    .single-header-3.single-header-2 .entry-header-1 {
        padding: 30px 15px
    }
    .single-header-2 .entry-header-1 h1 {
        font-size: 1.5rem
    }
    .single-header-2 .single-thumnail {
        min-height: 340px
    }
    ul.slicknav_nav {
        -moz-column-count: 1;
        column-count: 1
    }
    .header-style-2 .off-canvas-toggle-cover {
        top: 0
    }
    .tools-icon {
        margin-left: 60px !important
    }
    .sidebar-widget.widget-weather {
        margin-top: 0 !important
    }
    .entry-meta .font-small {
        font-size: 11px
    }
    .entry-meta span.ml-30 {
        margin-left: 15px !important
    }
    .featured-slider-1 .post-title,
    .loop-list-1 .first-post .post-title {
        max-width: 100%
    }
    .entry-bottom span.update-on,
    .entry-header span.post-by {
        margin-bottom: 10px
    }
    .single-social-share.float-right {
        float: left !important
    }
    .mb-sm-30 {
        margin-bottom: 30px !important
    }
    .entry-header-3 .img-hover-slide {
        min-height: 480px
    }
    .img-hover-slide {
        min-height: unset
    }
    .loop-list-style-1 .post-thumb.post-thumb-big img {
        height: unset;
        width: unset
    }
    .loop-list-style-1 .post-thumb.post-thumb-big {
        margin: 0 0 15px !important
    }
}

@media only screen and (max-width:319px) {
    .tools-icon a:not(.search-icon-mobile) {
        display: none
    }
}

@media (max-width:767px) {
    #scrollUp {
        right: 16px
    }
    .sticky-logo {
        display: block !important
    }
    .recent-articles .single-recent .what-cap h4 {
        font-size: 13px
    }
    .social-share ul li {
        margin: 0 7px
    }
    .comment-form .name {
        margin-bottom: 1rem;
        padding-right: 0
    }
    .main-header-navigation {
        position: fixed
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .header-sticky.sticky-bar.sticky .main-nav ul>li>a {
        padding: 33px 13px
    }
    .header-sticky.sticky-bar.sticky .main-nav .sub-menu {
        left: inherit;
        right: 0
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .sticky-logo {
        display: block !important
    }
}

@media only screen and (min-width:768px) {
    .detail-post-div {
        padding-left: 5px;
        padding-right: 5px
    }
    .post-banner {
        width: 100% !important
    }
}

@media only screen and (min-width:1024px) {
    .auth-icon {
        display: none
    }
}

.fr-view .fr-img-caption .fr-img-wrap>span {
    font-size: 15px !important
}

.fr-view .fr-img-caption .fr-img-wrap>img {
    width: unset !important
}

.fr-img-space-wrap {
    padding-bottom: 5px
}

.fr-img-space-wrap2 {
    margin-bottom: 0 !important
}

.fr-view span.fr-img-caption.fr-dii {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important
}