@charset "UTF-8";
.sortable {
    cursor: pointer
}

.sortable:after {
    color: #ddd;
    content: "";
    float: right;
    font-family: Font Awesome\ 5 Free
}

.sortable-asc:after {
    content: ""
}

.sortable-asc:after,
.sortable-desc:after {
    color: #000;
    float: right;
    font-family: Font Awesome\ 5 Free
}

.sortable-desc:after {
    content: ""
}

.form-group.required label:after {
    color: red;
    content: " *";
    vertical-align: middle
}

.form-group.has-error .select2-selection {
    border-color: #dd4b39
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error label,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
    color: #dd4b39
}

.has-error .form-control {
    border-color: #dd4b39;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-error .form-control:focus {
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

.help-block {
    color: #737373;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px
}

.switch {
    display: inline-block;
    height: 20px;
    margin-top: 8px;
    position: relative;
    width: 45px
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    right: 0;
    top: 0
}

.slider,
.slider:before {
    left: 0;
    position: absolute;
    transition: .4s
}

.slider:before {
    background-color: #fff;
    bottom: 1px;
    content: "";
    height: 18px;
    width: 18px
}

input:checked+.slider {
    background-color: #2196f3
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3
}

input:checked+.slider:before {
    transform: translateX(26px)
}

.slider.round {
    border-radius: 34px
}

.slider.round:before {
    border-radius: 50%
}

.text-normal {
    font-weight: 400 !important
}

.no-background {
    background: none !important
}

.no-boder {
    border: none !important
}

.select2 {
    width: 100% !important
}

ul.select2-selection__rendered {
    padding-right: 24px !important
}

ul.select2-selection__rendered:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #888;
    content: "";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%)
}

.select2-container--open ul.select2-selection__rendered:after {
    border: 4px solid transparent;
    border-bottom: 4px solid #888;
    border-top: none
}

.select2-container .select2-selection--multiple {
    min-height: 34px
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    margin-right: 1px;
    margin-top: 6px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    padding: 1px 3px
}

.padding-bottom-1 {
    padding-bottom: 1px
}

.padding-bottom-2 {
    padding-bottom: 2px
}

.padding-bottom-3 {
    padding-bottom: 3px
}

.padding-bottom-4 {
    padding-bottom: 4px
}

.padding-bottom-5 {
    padding-bottom: 5px
}

.padding-bottom-6 {
    padding-bottom: 6px
}

.padding-bottom-7 {
    padding-bottom: 7px
}

.padding-bottom-8 {
    padding-bottom: 8px
}

.padding-bottom-9 {
    padding-bottom: 9px
}

.padding-bottom-10 {
    padding-bottom: 10px
}

.padding-bottom-11 {
    padding-bottom: 11px
}

.padding-bottom-12 {
    padding-bottom: 12px
}

.padding-bottom-13 {
    padding-bottom: 13px
}

.padding-bottom-14 {
    padding-bottom: 14px
}

.padding-bottom-15 {
    padding-bottom: 15px
}

.padding-bottom-16 {
    padding-bottom: 16px
}

.padding-bottom-17 {
    padding-bottom: 17px
}

.padding-bottom-18 {
    padding-bottom: 18px
}

.padding-bottom-19 {
    padding-bottom: 19px
}

.padding-bottom-20 {
    padding-bottom: 20px
}

.padding-bottom-21 {
    padding-bottom: 21px
}

.padding-bottom-22 {
    padding-bottom: 22px
}

.padding-bottom-23 {
    padding-bottom: 23px
}

.padding-bottom-24 {
    padding-bottom: 24px
}

.padding-bottom-25 {
    padding-bottom: 25px
}

.padding-bottom-26 {
    padding-bottom: 26px
}

.padding-bottom-27 {
    padding-bottom: 27px
}

.padding-bottom-28 {
    padding-bottom: 28px
}

.padding-bottom-29 {
    padding-bottom: 29px
}

.padding-bottom-30 {
    padding-bottom: 30px
}

.padding-bottom-31 {
    padding-bottom: 31px
}

.padding-bottom-32 {
    padding-bottom: 32px
}

.padding-bottom-33 {
    padding-bottom: 33px
}

.padding-bottom-34 {
    padding-bottom: 34px
}

.padding-bottom-35 {
    padding-bottom: 35px
}

.padding-bottom-36 {
    padding-bottom: 36px
}

.padding-bottom-37 {
    padding-bottom: 37px
}

.padding-bottom-38 {
    padding-bottom: 38px
}

.padding-bottom-39 {
    padding-bottom: 39px
}

.padding-bottom-40 {
    padding-bottom: 40px
}

.padding-bottom-41 {
    padding-bottom: 41px
}

.padding-bottom-42 {
    padding-bottom: 42px
}

.padding-bottom-43 {
    padding-bottom: 43px
}

.padding-bottom-44 {
    padding-bottom: 44px
}

.padding-bottom-45 {
    padding-bottom: 45px
}

.padding-bottom-46 {
    padding-bottom: 46px
}

.padding-bottom-47 {
    padding-bottom: 47px
}

.padding-bottom-48 {
    padding-bottom: 48px
}

.padding-bottom-49 {
    padding-bottom: 49px
}

.padding-bottom-50 {
    padding-bottom: 50px
}

.padding-bottom-51 {
    padding-bottom: 51px
}

.padding-bottom-52 {
    padding-bottom: 52px
}

.padding-bottom-53 {
    padding-bottom: 53px
}

.padding-bottom-54 {
    padding-bottom: 54px
}

.padding-bottom-55 {
    padding-bottom: 55px
}

.padding-bottom-56 {
    padding-bottom: 56px
}

.padding-bottom-57 {
    padding-bottom: 57px
}

.padding-bottom-58 {
    padding-bottom: 58px
}

.padding-bottom-59 {
    padding-bottom: 59px
}

.padding-bottom-60 {
    padding-bottom: 60px
}

.padding-bottom-61 {
    padding-bottom: 61px
}

.padding-bottom-62 {
    padding-bottom: 62px
}

.padding-bottom-63 {
    padding-bottom: 63px
}

.padding-bottom-64 {
    padding-bottom: 64px
}

.padding-bottom-65 {
    padding-bottom: 65px
}

.padding-bottom-66 {
    padding-bottom: 66px
}

.padding-bottom-67 {
    padding-bottom: 67px
}

.padding-bottom-68 {
    padding-bottom: 68px
}

.padding-bottom-69 {
    padding-bottom: 69px
}

.padding-bottom-70 {
    padding-bottom: 70px
}

.padding-bottom-71 {
    padding-bottom: 71px
}

.padding-bottom-72 {
    padding-bottom: 72px
}

.padding-bottom-73 {
    padding-bottom: 73px
}

.padding-bottom-74 {
    padding-bottom: 74px
}

.padding-bottom-75 {
    padding-bottom: 75px
}

.padding-bottom-76 {
    padding-bottom: 76px
}

.padding-bottom-77 {
    padding-bottom: 77px
}

.padding-bottom-78 {
    padding-bottom: 78px
}

.padding-bottom-79 {
    padding-bottom: 79px
}

.padding-bottom-80 {
    padding-bottom: 80px
}

.padding-bottom-81 {
    padding-bottom: 81px
}

.padding-bottom-82 {
    padding-bottom: 82px
}

.padding-bottom-83 {
    padding-bottom: 83px
}

.padding-bottom-84 {
    padding-bottom: 84px
}

.padding-bottom-85 {
    padding-bottom: 85px
}

.padding-bottom-86 {
    padding-bottom: 86px
}

.padding-bottom-87 {
    padding-bottom: 87px
}

.padding-bottom-88 {
    padding-bottom: 88px
}

.padding-bottom-89 {
    padding-bottom: 89px
}

.padding-bottom-90 {
    padding-bottom: 90px
}

.padding-bottom-91 {
    padding-bottom: 91px
}

.padding-bottom-92 {
    padding-bottom: 92px
}

.padding-bottom-93 {
    padding-bottom: 93px
}

.padding-bottom-94 {
    padding-bottom: 94px
}

.padding-bottom-95 {
    padding-bottom: 95px
}

.padding-bottom-96 {
    padding-bottom: 96px
}

.padding-bottom-97 {
    padding-bottom: 97px
}

.padding-bottom-98 {
    padding-bottom: 98px
}

.padding-bottom-99 {
    padding-bottom: 99px
}

.padding-bottom-100 {
    padding-bottom: 100px
}

.avatar-user svg {
    height: 35px;
    width: 35px
}

.transition-content {
    transition: .5s
}