.fr-box.fr-basic .fr-element.fr-view {
    font-size: 16px
}

.fr-box.fr-basic .fr-element.fr-view p,
.fr-box.fr-basic .fr-element.fr-view p span,
.fr-box.fr-basic .fr-element.fr-view ul {
    font-size: 16px !important
}

.fr-link-insert-layer {
    margin-top: 0 !important
}

.fr-popup .fr-layer.fr-color-hex-layer .fr-action-buttons button.fr-command {
    font-size: 12px;
    width: 45px
}

.fr-view table td,
.fr-view table th {
    border: 1px solid #444;
    padding: .15em
}

.content-div .fr-wrapper {
    min-height: 500px
}

.content-div h1 {
    font-size: 30px !important
}

.content-div h2 {
    font-size: 25px !important
}

.content-div h3 {
    font-size: 22px !important
}

.content-div h4 {
    font-size: 19px !important
}

p iframe {
    aspect-ratio: 16/9;
    max-width: 100% !important
}

.vj-question {
    background: #f9f9f9;
    border-left: 4px solid #cac5c5;
    margin: 10px 0;
    padding: 5px 10px
}

.vj-question .vj-title {
    color: #a76014;
    font-size: 18px !important;
    margin: 5px 0
}

.vj-question p {
    font-size: 16px !important;
    line-height: 25px;
    margin-bottom: 0;
    min-height: 10px;
    padding: 5px 0
}

.vj-blockquote {
    background: #f2f2f2;
    background-image: url(/images/quote.png);
    background-repeat: no-repeat;
    background-size: 15%;
    border: 1px solid #dcb76a !important;
    border-radius: 0;
    box-shadow: 0 0 0 5px #f2f2f2;
    color: #000 !important;
    margin: 5px 5px 20px;
    padding: .9375rem;
    position: relative
}

.vj-blockquote p {
    font-size: 16px !important;
    line-height: 25px;
    margin-bottom: 0;
    min-height: 10px;
    padding: 8px 0
}

.vj-downloads {
    background: #dddddd82 !important;
    border-left: 5px solid #10bf51 !important;
    color: #666 !important;
    display: block;
    font-size: 17px;
    line-height: 1.6;
    margin-right: 0;
    padding: 10px 0 15px 15px !important
}

.vj-downloads .fr-file {
    background-color: #10bf51;
    border-color: #10bf51;
    border-radius: .3rem;
    color: #fff;
    font-size: 1rem;
    line-height: 1.7;
    padding: .75rem 1rem
}

.vj-downloads .fr-file:after {
    content: ""
}